.site-header {
    background-color: black;
    display: flex;
    align-items: center;

    .site-title a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
    }
}

button {
    border: none;
    background: transparent;
}

.main-navigation {
    text-align: center;

    a{
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        // padding: 0 1rem;
    }
    a:active, a:focus, a:hover {
        border-bottom: 2px white solid;
    }
}

@media (min-width: 37.5em) {
    .main-navigation a {
        margin: 1rem;
    }

    
}